# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment files
.env

# Data folders & files
data/
*.csv

# Jupyter checkpoints
.ipynb_checkpoints/
